---
const { title, url, date } = Astro.props;
---
<style>
    .date {
        font-size: 0.8em;
        color: #999;
    }
</style>
<li><a href={url}>{title} - <span class="date">{date.toDateString()}</span></a></li>